---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';

const { default: Content } = await import('../content/about.md');
---

<Layout title="About exPOTUS.com">
  <Nav active="about" />
  <div class="body">
    <h1>About exPOTUS.com</h1>
    <div class="about">
      <Content />
    </div>
  </div>
</Layout>
