---
layout: default
---
{{ content }}

<div class="facts">
  <table id="facts-table">
    <thead>
      <tr>
        <th>Dates</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% assign sorted = page.facts | sort: "start" %}
      {% for fact in sorted %}

        <tr>
          <td>{{ fact.start }} {{ fact.end}}</td>
          <td>{{ fact.detail }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% include datatable.html table_id="facts-table" %}
